<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.chun.dao.BookMapper">

    <insert id="addBook">
        insert into book_info
            (name,author,publish,isbn,introduction,language,price,publish_date,type_id,number)
        values
            (#{name},#{author},#{publish},#{isbn},#{introduction},#{language},#{price},#{publishDate},#{typeId},#{number})
    </insert>
    <update id="updateBook" parameterType="Book">
        update  book_info
            <set>
                <if test="name!=null and name!=''">
                    name=#{name},
                </if>
                <if test="author!=null and author!=''">
                    author=#{author},
                </if>
                <if test="publish!=null and publish!=''">
                    publish=#{publish},
                </if>
                <if test="isbn!=null and isbn!=''">
                    isbn=#{isbn},
                </if>
                <if test="introduction!=null and introduction!=''">
                    introduction=#{introduction},
                </if>
                <if test="language!=null and language!=''">
                    language=#{language},
                </if>
                <if test="price!=null and price!=''">
                    price=#{price},
                </if>
                <if test="publishDate!=null">
                    publish_date=#{publishDate},
                </if>
                <if test="typeId!=null and typeId!=''">
                    type_id=#{typeId},
                </if>
            </set>
        where id=#{id}

    </update>
    <update id="lendBook">
        update book_info set status=1
        where id=#{i}
    </update>

    <delete id="deleteBook">
        delete from book_info where id=#{id}
    </delete>

    <select id="findAllList" resultType="Type">
        select * from type_info
    </select>

<!--    <select id="findAllBook" resultMap="BookBean">-->
<!--        select * from book_info left join type_info on book_info.type_id=type_info.id-->
<!--    </select>-->
    <select id="findAllBook" resultMap="BookBean">
        select * from book_info left join type_info on book_info.type_id=type_info.id
                 <where>
                     <if test="name!=null and name!=''">
                         book_info.name=#{name}
                     </if>
                    <if test="isbn!=null and isbn!=''">
                        book_info.isbn=#{isbn}
                    </if>
                    <if test="typeId!=null and typeId!=''">
                        type_info.typeId=#{typeId}
                    </if>
                 </where>
    </select>

    <select id="queryBookInfoBy" resultType="Book">
        select * from book_info where id=#{id}
    </select>
    <update id="selectBookById">
        update book_info set status=0
        where id=#{bookId}
    </update>

    <select id="bookStatus" resultMap="BookBean">
        select *  from book_info where status=0
    </select>


    <resultMap id="BookBean" type="Book">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="author" column="author"/>
        <result property="publish" column="publish"/>
        <result property="isbn" column="isbn"/>
        <result property="introduction" column="introduction"/>
        <result property="language" column="language"/>
        <result property="price" column="price"/>
        <result property="publishDate" column="publish_date"/>
        <result property="typeId" column="type_id"/>
        <result property="status" column="status"/>
        <result property="type.name" column="tname"/>
        <result property="type.remarks" column="remarks"/>
    </resultMap>
</mapper>